.MeusExercicios{
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 50px 35px;
}

.boxMeusExercicios{
    width: 30%;
    height: auto;
    position: relative;
}

.boxMeusExercicios img{
    border-radius: 6px;
    max-width: 100%;
}

.boxMeusExercicios p{
    border-bottom: 1px solid;
    padding: 5px;
}

.boxMeusExercicios span{
    font-size: 1rem;
    font-weight:normal;
    text-transform: capitalize;
    color: #1bfaad;
}

.iconClose{
    position: absolute;
    fill: #1bfaad;
    top: 0;
    right: 0;
    font-size: 2rem;
}

.iconClose:hover{
    fill: red;
    transform: scale(1.2);
}