.homeSection {
  position: relative;
  width:100vw;
  max-height: 400px;
  background-color: red;
}

.homeText {
  text-align: right;
  align-items: center;
  position: absolute;
  right: 50%;
  top: 35%;
  z-index: 999;
  width: 40%;
}

.homeImg img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}