.homeSection {
  position: relative;
  width:100vw;
  grid-row: 2/3;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1fr;
}

.homeText {
  text-align: right;
  align-items: center;
  position: absolute;
  right: 50%;
  top: 35%;
  z-index: 999;
  width: 40%;
}
.homeImg{
  grid-column: 1/3;
  height: 94.7vh;
  overflow: hidden;
}
.homeImg img{
  width: 100vw;
  object-fit: contain;
  opacity: .6;
}