@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap');


.homeSection {
  position: relative;
  width:100vw;
  grid-row: 2/3;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1fr;
}

.homeText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: right;
  z-index: 999;
  width: 100%;
  grid-column: 1/2;
  gap: 30px;
  font-family: 'Sen', sans-serif;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.homeText:after{
  animation: textReveal 4s ease forwards;
  position: absolute;
  content: " ";
  background-color: #1a2037;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.homeText p,h1{
  color: #fff;
  width: 80%;
  align-self:flex-end;
  font-weight: bolder;
  font-size: 4rem;
}
.homeText span{
  color: #fff;
  font-weight: bolder;
  font-size: 5rem;
  position: relative;
  overflow: hidden;
  animation: colorChange 2s 4s forwards;
}

.homeText span:after{
  animation: afterReveal 2s 4s forwards;
  content: " ";
  width: 0%;
  height: 3px;
  position: absolute;
  background-color: #1bfaad;
  bottom: 0px;
  left: 0px;
  opacity: 0;
}
.homeText button{
  cursor: pointer;
  width: 200px;
  height: 70px;
  background-color: #1bfaad;
  color: #1a2037;
  border-radius: 8px;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  align-self:flex-end;
  border: none;
}

.homeImg{
  grid-column: 2/3;
  height: 94.7vh;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.homeImg img{
  height: 80%;
  object-fit: contain;
  filter: drop-shadow(0px 0px 5px #1bfaad);
  animation: unHide 3s;
}
.butttonHome{
  transition: .2s ease-in-out;
  text-transform: uppercase;
  width: auto;
}
.butttonHome:hover{
  border: none;
  filter: drop-shadow(0px 0px 5px #fff);
}



@keyframes unHide {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  
}

@keyframes textReveal {
    to {
      transform: translateX(101%);
    }
}


@keyframes afterReveal {
  from {
    transform: scaleX(0%);
  }
  to {
    transform: scaleX(100%);
    width: 100%;
    opacity: 1;
  }
}


@keyframes colorChange {
  from {
    color: #fff;
  }
  to {
    color: #1bfaad;
  }
  
}