.loginPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}
.loginBoxImg {
  grid-column: 1/2;
  height: 80%;
}

.loginBoxImg img {
  height: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
