.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: red;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1.25fr 0.75fr;
  grid-template-rows: 1fr;
  height: 80%;
  max-height: 80%;
}

.modalLeft {
  grid-column: 1/2;
  width: 100%;
  height: 80vh;
  position: relative;
}
.modalLeft img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  object-fit: cover;
  object-position: bottom;
}
.modalLeft svg:hover {
  filter: drop-shadow(0px 0px 5px #1bfaad);
}
.left {
  position: absolute;
  left: 0;
  top: 45%;
}

.right {
  position: absolute;
  right: 0;
  top: 45%;
}

.left:hover,
.right:hover {
  cursor: pointer;
}

.rightModal {
  position: relative;
  grid-column: 2/3;
  background-color: white;
  padding: 10px;
  color: black;
  display: grid;
  grid-template-rows: 1fr 0.35fr;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
}

.close:hover {
  fill: #1bfaad;
  cursor: pointer;
}

.rightModalPostInfo {
  grid-row: 1/2;
}
.rightModalComentario {
  display: flex;
  grid-row: 2/3;
  height: 100%;
  width: 100%;
  align-items: flex-end;
  text-align: center;
  justify-content: center;
  gap: 10px;
}

.rightModalComentario input {
  width: 80%;
  height: 40px;
  background-color: gray;
  filter: saturate(70%);
  outline: none;
  color: #fff;
}
.rightModalComentario input::placeholder {
  color: #fff;
}
.rightModalComentario button {
  height: 40px;
  width: 20%;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #1bfaad;
  padding: 6px;
  border-radius: 8px;
  color: #fff;
  margin: 10px 0px;
}
.rightModalPostInfo ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.postInfoTittleData {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 20%;
  gap: 20px;
}
.postInfoTittleData svg {
  font-size: 2rem;
}
.postInfoTittleData h3 {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 5px;
}
.itemComentario {
  border-radius: 6px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.5);
  padding: 5px;
}

.itemComentario img {
  height: 100%;
  border-radius: 50%;
}

.itemComentarioBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.itemComentarioBox p {
  align-self: flex-start;
  font-size: 0.8rem;
}

.itemComentarioInfo {
  display: flex;
  flex-direction: column;
  font-style: italic;
  padding: 3px;
}
.itemComentarioInfoData {
  position: absolute;
  font-size: 0.7rem;
  color: black;
  top: 0;
  right: 5px;
}
.itemComentarioInfoUsuario {
  font-size: 1.1rem;
  align-self: flex-start;
}
.itemComentarioInfoUsuario:hover {
  text-decoration: underline;
  cursor: pointer;
}

button:disabled {
  display: none;
}
