.containerPerfil{
    height: 400px;
    background-color:#1a2037;
    filter:saturate(100%);
    border-radius: 12px;
    margin-top: 20px;
    text-align: center;
}


.tituloUser{
    font-weight: bolder;
    font-size: 3rem;
}


.containerUserInfo{
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.infoUser{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.infoUser input::placeholder{
    font-size: 1rem;
    font-weight: bolder;
}


.formINFO{
 background-color: #ff5733;
 border-radius: 16px;
 display: flex;
 flex-direction: column;
 text-align: left;
 padding: 30px;
 width: 50%;
}


select{
    margin: 10px 0;
    width: 40%;
}

/* option{
    background-color: black;
} */
.buttonForm{
    padding: 5px;
    border: none;
    color: white;
    background-color: #1a2037;
    width: 120px;
    margin-top: 20px;
    border-radius: 4px;
    font-weight: bolder;
    font-size: 1rem;
    cursor: pointer;
}

svg{
    cursor: pointer;
}


svg:hover{
    color: #ff5733;
}