.containerExercises {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
  position: relative;
}

.cardExercise {
  filter: drop-shadow(0px 0px 5px #1bfaad);
  cursor: pointer;
  width: 30%;
  height: 300px;
  position: relative;
}

.cardExercise img {
  border-radius: 16px;
  width: 100%;
  height: 100%;
}

.cardExerciseInfo {
  position: absolute;
  display: none;
  background-color: #1bfaad;
  color: #1a2037;
  font-weight: bolder;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  padding: 15px;
  text-align: left;
  font-size: 2rem;
}


.cardExerciseInfo:hover{
  animation: scaleAndBackgroundChange 1s ease-in-out forwards;
}

.cardExerciseInfoButton{
  position: absolute;
  font-size: 3rem;
  top: -4px;
  right: -5px;
}

.cardExerciseInfoButton:hover{
  font-size: 3rem;
  animation: pulsate-fwd .3s ease-in-out infinite;
}

.headerUsertreino {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 40px;
  justify-content: space-between;
  padding-bottom: 10px;
}

.headerUsertreino select {
  height: 30px;
  width: 200px;
}

.headerUsertreino button {
  padding: 5px;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  text-transform: uppercase;
  background-color: #1bfaad;
  color: white;
  height: 30px;
  box-sizing: border-box;
  transition: 0.4s ease-in-out;
  font-size: 0.8rem;
}

.headerUsertreino button:hover {
  background-color: #fff;
  color: #1bfaad;
}

.headerUsertreinoBoxMeuTreino{
  position: relative;
  display: flex;
}

.modalTreino{
top: -10px;
left: -10px;
position: absolute;
background-color: #1a2037;
width: 100%;
height: 50%;
border-radius: 6px;
}

@keyframes scaleAndBackgroundChange {
  from {
    background-color: #fff;
  }
  to {
    background-color: #1bfaad;
    transform: scale(1.05);
  }
}


@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}