.userPost {
  display: grid;
  grid-template-columns: 0.75fr 1.25fr;
  margin-top: 30px;
  animation: slide-in-fwd-center 1s ease-in-out;
}
.userPost img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  filter: drop-shadow(0px 0px 5px #1bfaad);
  object-fit: cover;
}

.userPost button {
  padding: 5px;
  width: 130px;
  height: 40px;
  background-color: #1bfaad;
  font-weight: bolder;
  border-radius: 4px;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
  font-size: 1.3rem;
  margin-top: 30px;
}

.userPost button:hover {
  filter: drop-shadow(0px 0px 2px #fff);
}

.userPost input {
  background-color: white;
  color: black;
  border-radius: 5px;
  width: 80%;
  outline: none;
}

.userPost input:focus {
  filter: drop-shadow(0px 0px 5px #1bfaad);
}

input[type="file"] {
  display: none;
}

.boxImagem {
  height: 70vh;
}

.containerCustomInput{
  position: relative;
  display: inline-block;
  width: 300px;
  height: 50px;
}

.customInput{
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}