@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Sen', sans-serif;
}


body {
  background-image: radial-gradient(
      circle at center,
      rgba(255, 255, 255, 0.005) 0,
      rgba(255, 255, 255, 0.005) 1px,
      transparent 1px
    ),
    linear-gradient(to right, rgba(255, 255, 255, 0.01) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.01) 1px, transparent 1px);
  background-size: 15px, 15px;
  background-attachment: fixed;
  background-color: #1a2037;
  color: #fff;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 50px calc(100vh - 50px);
}

input {
  border: none;
  border-radius: 8px;
  height: 30px;
  padding: 10px;
  filter: saturate(70%);
  color: white;
  margin: 10px 0px;
}

label {
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: #fff;
}
ul img {
  height: 40px;
}

li {
  list-style: none;
}


button,
input {
  display: block;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

button:disabled {
  cursor: wait;
  opacity: 0.5;
  display: block;
}

header {
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);
  z-index: 100;
  background-color: #1a2037;
  grid-row: 1/2;
  grid-column: 1/4;
  z-index: 1;
}

.error {
  color: rgb(186, 30, 30);
  font-size: 0.8;
  font-weight: bolder;
}

.header-profile {
  display: flex;
  gap: 10px;
}

header select {
  width: 100px;
}

.container {
  grid-column: 2/3;
}

.boxInput{
  display: flex;
  position: relative;
  align-items: center;
}

.boxInput svg{
  position: absolute;
  right: 15px;
  fill: #1a2037;
  font-weight: bolder;
  font-size: 1.5rem;
  cursor:default;
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}