.colunasDeTreino{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.colunasDeTreino h2{
   font-size: 1.2rem;
   border-bottom: 1px solid rgba(255,255, 255, .1);
   padding-bottom: 10px;
}
.colunaDeTreino{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    font-weight: bolder;
    text-transform: capitalize;
    position: relative;
    width: 13%;

}

.colunaDeTreino::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 60%;
    height: 60%;
    border-top: 2px solid #1bfaad;
    border-left: 2px solid #1bfaad;
    opacity: 0.6;
    border-radius: 10px 0px 0px 0px;
  }
  
  .colunaDeTreino::before {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 60%;
    height: 60%;
    border-bottom: 2px solid #1bfaad;
    border-right: 2px solid #1bfaad;
    opacity: 0.6;
    border-radius: 0px 0px 10px 0px;
  }


.colunaDeTreinoAtiva{
    display: flex;
    flex-direction: column;
    width: 13%;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    font-weight: bolder;
    background-color: #1bfaad;
    color: #1a2037;
    text-transform: capitalize;
}



